@charset "UTF-8";
/* Обнуление стилей */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

/* Центрирование страницы */
.container {
  width: 1140px;
  margin: 0 auto;
}

/* Стиль всех параграфов p */
.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

/* Стиль заголовков h3 */
.title {
  font-size: 13px;
  line-height: 16px;
}

.header {
  background: #222222;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 20px;
}

.header_search_button {
  margin-left: 41px;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav_dropdown {
  position: relative;
  display: inline-block;
  border: none;
  padding-top: 13px;
}

.header_nav_dropdown_button {
  margin-right: 33px;
  background: none;
  outline: none;
}

.header_nav_button {
  padding-top: 9px;
  margin-right: 33px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 764px;
  background: #F1E4E6;
  margin-bottom: 65px;
}

.top_image {
  width: 50%;
  background-image: url(img/main.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.top_intro {
  position: relative;
  top: 290px;
  margin-left: 63px;
}

.top_intro_text {
  height: 82px;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #222222;
  padding-bottom: 0px;
  border-left: #F16D7F solid;
  border-width: 12px;
  padding-left: 16px;
}

.top_intro_text_big {
  font-weight: 900;
  font-size: 48px;
  line-height: 36px;
}

.top_intro_text_red {
  font-size: 37px;
  font-weight: 700;
  line-height: 42px;
  color: #F16D7F;
}

.offer_box {
  margin-bottom: 30px;
}

.offer_box_line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.offer_box_line2 {
  margin-bottom: 96px;
}

.content_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 18px;
  margin-bottom: 95px;
}

.content_button_push {
  text-align: center;
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-decoration: none;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FBFBFB;
}

.card_box_title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.card_box_text {
  text-align: center;
  font-size: 14px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.card_information {
  padding: 25px 28px 20px 16px;
}

.card_information_title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 13px;
}

.card_information_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.card_line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.footer {
  background: #222224;
}

.footer_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_services_service {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 103px;
}

.footer_services_title {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 25px;
}

.footer_services_text {
  max-width: 360px;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
  margin-top: 16px;
  margin-bottom: 104px;
  opacity: 0.7;
}

.footer_overal {
  background-image: url(img/FooterBack.png);
  background-size: cover;
}

.footer_overal_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer_overal_introduction {
  margin-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer_overal_introduction_text {
  width: 360px;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
  margin-bottom: 126px;
}

.footer_overal_text {
  text-align: center;
  font-weight: bold;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 28px;
}

.footer_overal_text_big {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
}

.footer_overal_subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_overal_subscription_figure {
  width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  border: none;
  background: #E1E1E1;
  border-radius: 25px;
}

.footer_overal_subscription_figure_enter {
  width: 256px;
  padding: 7px 64px 6px 22px;
  background: #E1E1E1;
  outline: none;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  line-height: 17px;
}

.footer_overal_subscription_figure_submit {
  padding: 17px;
  width: 100px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #F16D7F;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.footer_nav_copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer_nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_nav_links_img {
  margin-right: 7.29px;
}
/*# sourceMappingURL=style.css.map */